In [1]:
import numpy as np
import pandas as pd

# Install the mysql.Connector to connect the database with our python code

In [2]:
!pip install mysql.connector

Collecting mysql.connector
  Downloading mysql-connector-2.2.9.tar.gz (11.9 MB)
Building wheels for collected packages: mysql.connector
  Building wheel for mysql.connector (setup.py): started
  Building wheel for mysql.connector (setup.py): finished with status 'done'
  Created wheel for mysql.connector: filename=mysql_connector-2.2.9-cp39-cp39-win_amd64.whl size=247961 sha256=2783e3f35e6986ccca7d40ac4fbc442a1300a16b10aa27da1800f80118284ceb
  Stored in directory: c:\users\farha\appdata\local\pip\cache\wheels\7b\14\39\5aad423666e827dfe9a1fbcd111ac17171e7c9865d570780ce
Successfully built mysql.connector
Installing collected packages: mysql.connector
Successfully installed mysql.connector-2.2.9

In [4]:
import mysql.connector

In [5]:
conn = mysql.connector.connect(host = 'localhost', user = 'root', password = '', database = 'world')

In [7]:
df = pd.read_sql_query("SELECT * FROM city", conn)

In [8]:
df.head()

   ID            Name CountryCode       District  Population
0   1           Kabul         AFG          Kabol     1780000
1   2        Qandahar         AFG       Qandahar      237500
2   3           Herat         AFG          Herat      186800
3   4  Mazar-e-Sharif         AFG          Balkh      127800
4   5       Amsterdam         NLD  Noord-Holland      731200